


body {
	font-family: "robot", helvetivca, sans-serif;
	font-size: 1.25rem;
	line-height: 1.25;
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
}

.inner-wrapper {
	margin: 6rem;
}


.catagory {
	text-align: left;
	font-size: 4rem;
	font-family: 'Poiret One';
	color: orange;
	margin-bottom: 5rem;
	margin-top: 0;
}

/*Social Media*/

.round-button:hover {
	background-color: orange;
	color: #fff;
	font-size: 4rem;
	border-color: #fff;
	text-align: center;
}

.round-button {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 50%;
	color: #222;
	text-decoration: none;
	background: #fff;
	margin: 0 20px 0 20px;
	padding: 5px;
	font-size: 3.75rem;
	border: 3px solid #222;
	transition: background-color 1s, color 1s, font-size 1s, border-color .5s;
}


/*----------Navbar----------*/

header {
	width: 100%;
	position: fixed;
	background-color: #26532B;
	z-index: 1;
	padding-top: 1rem;
}

header ul {
	padding: 0 5rem;
	margin: 0 auto;
	list-style: none;
}

#logo {
	float: left;
	color: white;
	font-weight:700;
	font-size: 2rem;
	margin: 0;
	font-family: 'Poiret One', cursive;
}

ul li {
	display: inline-block;
	overflow: hidden;
	list-style: none;
	text-decoration: none;
	padding: 0rem 0;
}

nav {
	float:right;
	text-align: center;
}

nav li a {
	color:white;
	font-weight:700;
	text-decoration: none;
	display: block;
	padding: 11px 16px;
	text-align: center;
	text-decoration:none;
}
.active {
	background-color: orange;
}
li a:hover {
	background-color: orange;
	color: #333;
}
/*----------Banner Styles----------*/

#banner {
	background-color: #4285F4;
	width:100%;
	height: 100%;
	color: #fff;
}

.banner-wrapper {
	padding:14rem 0;
	text-align: center;
}

#title, #sub-title {
	text-align: center;
}

#title {
	font-size:7rem;
	margin:0 auto;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

#sub-title {
	font-size: 2.5rem;
	color:orange;
	margin:0 auto;
	padding-bottom: 80px;
}

/*----------About Styles----------*/

#about {
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #222;
	display: flex;
}

#profile {
	float: right;
	display: inline-block;
	height: auto;
	width: 350px;
  margin:0 0 0 3rem;
  box-shadow: 3px 3px 3px #333;
	-webkit-box-shadow: 3px 3px 3px #333;
	-moz-box-shadow: 3px 3px 3px #333;
}

div .content {
	position: relative;
}

@media screen and (max-width: 768px) {
    /* For mobile phones:*/
    	div .content {
    		width: 100%;
    		float: left;
    	}

	 #profiletext{


	}
  	#profile {
			align-items: center;
    	}
    }

/*----------Portfolio Styles----------*/

#portfolio {
	color: #fff;
	width: 100%;
	height: 100%;
	background-color: #222;
}

#portfolio .wrapper h2 {
	padding-top: 6rem;
}

.port-wrap {
	text-align: center;
	box-sizing: border-box;
	display: block;
}

.port-item {
	width: 300px;
	height: 270px;
	padding: 4px;
	background: #468499;
	font-weight: bold;
	text-align: center;
	margin: 0 10px 14px 10px;
	display:inline-block;
	border-radius: 2px;
	border: 1px solid;
	transition: border-color 1s, -moz-box-shadow 1s,-webkit-box-shadow 1s,box-shadow 1s;
	position: relative;
}
.port-item:hover {
	border-color: ;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	box-shadow: 0px 0px 10px #fff;}

.opacity {
	opacity: 0.5;
	-webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.opacity:hover {
	opacity: 1;
}

#port-padding {
	width: 100%;
	height: 6rem;
	background-color: #222;
}

/*----------Contact Styles----------*/

.contact-wrapper {
	margin: 0 auto;
	box-sizing: border-box;
	width: 960px;
	height: 100%;
	color: #222;
	display: block;
}

.column {
	clear: none;
}

.span-half {
	max-width: 48%;
	display: block;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right
}

.contact-form {
	padding: 0;
	margin: 0 auto;
}
.contact-form label {
	font-size: 1.5em;
}
.contact-form span {
	width: 100%;
	margin-bottom: 20px;
}
.contact-form input, .contact-form textarea, .contact-form select {
	width: 100%;
	border-color: 1px solid #cacaca;
	padding: 5px;
	outline: none;
}
.contact-form span, .contact-form label {
	display: block;
}
.contact-form textarea {
	margin-top:10px;
	height: 110px;

}

input:focus {
	border:solid 1px #cacaca;

}
textarea:focus {
	border:solid 1px #cacaca;
}

button, input {
	line-height: normal;
}
button, input, select, textarea {
	margin: 0;
	vertical-align: baseline;
}

.submit:hover {
	background-color: green;
}
.button {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	clear: both;

	list-style: none;
	background-color: #6dc066;
	border:none;
	border-radius: 5px;
	color: #fff;
	margin:0 10px 0 0;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	display: block;
	box-sizing: border-box;
	width: 200px;
}

@media screen and (max-width: 1000px) {
    /* For mobile phones:*/
    	.contact-form span {
    		width: 100%;
    		float: left;
    		clear: both;
    	}
    }

/*----------Footer Styles----------*/

footer {
	height: 100%;
	width: 100%;
	background-color: #222;
	text-align: center;
	font-size: 16px;
	font-family: arial;
	color: #fff;
	padding: 10px 0 10px 0;
}

footer .button-wrapper {
	margin: 20px;
}
